<%= stylesheet_link_tag params[:controller] %>

<h1 class = "header-default">Editing Track</h1>

<%= render "form", track: @track %>

<%= link_to "Show", album_track_path(@track.album, @track), { class: "link-default" } %> 
   <div class="link-separator-default"> 
      |
   </div>
<%= link_to "Back", album_tracks_path, { class: "link-default" } %>
