
<h1 class = "header-default">Изменение трека</h1>

<%= render "form", track: @track %>

<%= link_to "Show", album_track_path(@track.album, @track), { class: "link-default" } %> 
   <div class="link-separator-default"> 
      |
   </div>