<h1>New Track</h1>

<%= render 'form', track: @track %>

<<<<<<< Updated upstream
<%= link_to 'Back', tracks_path %>
=======
<%= link_to "Back", tracks_path, {class: "link-default"} %>
</div>
>>>>>>> Stashed changes
