<%= stylesheet_link_tag params[:controller] %>

<h1 class = "header-default">Add track to album</h1>

<%= render "form", track: @track %>

<%= link_to "Back", tracks_path, { class: "link-default" } %>
</div>
