$color-magenta: #ff0038;
$color-yellow: #ffce38;
$color-cyan: #00CFFA;
$color-black: #020509;
$color-fog: #D4DDE1;
$color-stormy-sea: #335252;
$color-rust: #AA4B41;
$color-coal: #2D3033;
$color-fire-engine-red: #C5001A;
$color-light-gray: #E4E3DB;
$color-denim: #113743;
$color-concrete: #C5BEBA;
$color-light-green: #8CBA51;