$small_label_font_size: 13px;
$normal_label_font_size: 18px;

$normal_text_font_size: 12px;

$normal_glyphicon_font_size: 22px;
$small_glyphicon_size: 7px;
$medium_glyphicon_size: 27px;
$large_glyphicon_size: 43px;
$normal_glyphicon_size: 22px;

$navigation_bar_links_default_font_size: 1.3rem;
$h1_font_size: 40px;
$h2_font_size: 30px;
$link_font_size: 22px;
$link_separator_font_size: 22px;
$default_letter_spacing: 3px;
$extra_small_size: 70px !important;
$small_size: 90px !important;
$medium_size: 120px !important;
$large_size: 570px !important;
$extra_large_size: 900px !important;
$small_interval: 15px !important;
$medium_interval: 40px !important;
$preview_image_width_size: 143px;
$preview_image_height_size: 143px;

$dropdown_panel_preview_image_width_size: 75px;
$dropdown_panel_preview_image_height_size: 75px;
$sidebar_preview_image_width_size: 180px;
$sidebar_preview_image_height_size: 180px;

$mail_preview_image_width_size: 250px;
$mail_preview_image_height_size: 250px;
$add_button_width_size: 60px;
$add_button_height_size: 60px;

$comment_avatar_preview_image_width_size: 50px;
$comment_avatar_preview_image_height_size: 50px;


$screen_height: 100vh;
$screen_width: 100vw;

$user_info_image_width_size: 260px;
$user_info_image_height_size: 260px;
$users_preview_image_width_size: 65px;
$users_preview_image_height_size: 65px;
$users_image_width_size: 120px;
$users_image_height_size: 120px;
$screen_width_size: 100vh;
$half_screen_width_size: $screen_width_size / 2;
