@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$open_sans_font_family: 'Open Sans';
$san-francisco_font_family: 'SF UI Text';
$apple_font_family: -apple-system, BlinkMacSystemFont, sans-serif;
$montserrat_font_family: 'Montserrat', sans-serif;
$text_align_center: center;
