<option value="rock">Rock</option>
<option value="jazz">Jazz</option>
<option value="hip-hop">Hip-Hop</option>
<option value="pop">Pop</option>
<option value="blues">Blues</option>
<option value="folk">Folk</option>
<option value="classic">Classic</option>
<option value="heavy_metal">Heavy Metal</option>
<option value="trash_metal">Trash Metal</option>
<option value="country">Country</option>
<option value="rythm_and_blues">R&B</option>
<option value="punk_rock">Punk Rock</option>
<option value="electronic">Electronic</option>
<option value="soul">Soul</option>
<option value="reggae">Reggae</option>
<option value="funk">Funk</option>
<option value="techno">Techno</option>
<option value="disco">Disco</option>
<option value="alternative_rock">Alternative Rock</option>
<option value="ambient">Ambient</option>
<option value="swing">Swing</option>
<option value="industrial">Industrial</option>
<option value="gospel">Gospel</option>
<option value="trance">Trance</option>
<option value="instrumental">Instrumental</option>
<option value="dubstep">Dubstep</option>
<option value="breakbeat">Breakbeat</option>
<option value="ska">Ska</option>
<option value="pop_rock">Pop Rock</option>
<option value="indie_rock">Indie Rock</option>
<option value="orchestra">Orchestra</option>
<option value="psychedelic_music">Psychedelic Music</option>
<option value="electro">Electro</option>
<option value="new_wave">New Wave</option>
<option value="experimental">Experimental</option>
<option value="world">World</option>
<option value="grunge">Grunge</option>
<option value="drum_and_bass">Drum & Bass</option>
<option value="hardcore">Hardcore</option>
<option value="baroque">Baroque</option>
<option value="bossa_nova">Bossa Nova</option>
<option value="bluegrass">Bluegrass</option>
<option value="shoegaze">Shoegaze</option>
<option value="easy_listening">Easy Listening</option>
<option value="enka">Enka</option>
<option value="holiday">Holiday</option>
<option value="j-pop">J-Pop</option>
<option value="latin">Latin</option>
<option value="power_metal">Power Metal</option>
<option value="new_age">New Age</option>
<option value="opera">Opera</option>
