$("#like-block").html('<%= j render partial: "likes/form", locals: { album: @like.album } %>').show("slow")
$("#dislike-block").html('<%= j render partial: "dislikes/form", locals: { album: @like.album } %>').show("slow")
$("#rating").html('<span class="small-left-interval stars-container stars-<%= get_rating(@like.album) %>">★★★★★</span>')
