<div class="carousel-1">

    <!-- start slider section -->
   <section class="carousel-section">
    <div class="swiper-bottom-scrollbar-full swiper-container">
        <div class="swiper-wrapper">
            <!-- start slider item -->
            <% most_popular_albums.each do |album| %>
                <div class="swiper-slide">
                    <div class="slide">
                        <div class="display-block position-relative">
                            <%= image_tag album.image_preview_url, class: "slide-image"%>
                            <%= link_to album.name, album, class: "bottom-text" %>
                        </div>
                        <div class="hover-title-box padding-55px-lr width-300px sm-width-100 sm-padding-20px-lr">
                            <div class="separator width-50px bg-black md-display-none xs-margin-lr-auto"></div>
                            <h1><%= album.performer %></h1>
                        </div>
                    </div>
                </div>
            <% end %>
            <!-- end slider item -->
            <!-- start slider item -->
            <div class="swiper-slide width-auto xs-height-auto last-paragraph-no-margin">
                <div class="height-100 display-table">
                    <div class="display-table-cell vertical-align-middle">
                        <div class="display-block position-relative">
                            <img src="http://www.themezaa.com/html/pofo/images/homepage-2-slider-img-4.jpg" class="slide-image" alt="" />
                            <p class="bottom-text width-100 text-extra-small text-white text-uppercase text-center">
                                Branding and Brochure</p>
                        </div>
                        <div class="hover-title-box padding-55px-lr width-300px sm-width-100 sm-padding-20px-lr">
                            <div class="separator width-50px bg-black md-display-none xs-margin-lr-auto"></div>
                            <h3><a class="text-white font-weight-600 alt-font text-white-hover"
                                    href="single-project-page-02.html">Tailoring Interior</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end slider item -->
            <!-- start slider item -->
            <div class="swiper-slide width-auto xs-height-auto last-paragraph-no-margin">
                <div class="height-100 display-table">
                    <div class="display-table-cell vertical-align-middle">
                        <div class="display-block position-relative">
                            <img src="http://www.themezaa.com/html/pofo/images/homepage-2-slider-img-13.jpg" class="slide-image" alt="" />
                            <p class="bottom-text width-100 text-extra-small text-white text-uppercase text-center">Web
                                and Photography</p>
                        </div>
                        <div class="hover-title-box padding-55px-lr width-300px sm-width-100 sm-padding-20px-lr">
                            <div class="separator width-50px bg-black md-display-none xs-margin-lr-auto"></div>
                            <h3><a class="text-white font-weight-600 alt-font text-white-hover"
                                    href="single-project-page-03.html">Digital Media</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end slider item -->
            <!-- start slider item -->
            <div class="swiper-slide width-auto xs-height-auto last-paragraph-no-margin">
                <div class="height-100 display-table">
                    <div class="display-table-cell vertical-align-middle">
                        <div class="display-block position-relative">
                            <img src="http://www.themezaa.com/html/pofo/images/homepage-2-slider-img-12.jpg" class="slide-image" alt="" />
                            <p class="bottom-text width-100 text-extra-small text-white text-uppercase text-center">
                                Branding and Identity</p>
                        </div>
                        <div class="hover-title-box padding-55px-lr width-300px sm-width-100 sm-padding-20px-lr">
                            <div class="separator width-50px bg-black md-display-none xs-margin-lr-auto"></div>
                            <h3><a class="text-white font-weight-600 alt-font text-white-hover"
                                    href="single-project-page-04.html">HardDot Stone</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end slider item -->
            <!-- start slider item -->
            <div class="swiper-slide width-auto xs-height-auto last-paragraph-no-margin">
                <div class="height-100 display-table">
                    <div class="display-table-cell vertical-align-middle">
                        <div class="display-block position-relative">
                            <img src="http://www.themezaa.com/html/pofo/images/homepage-2-slider-img-10.jpg" class="slide-image" alt="" />
                            <p class="bottom-text width-100 text-extra-small text-white text-uppercase text-center">Web
                                and Photography</p>
                        </div>
                        <div class="hover-title-box padding-55px-lr width-300px sm-width-100 sm-padding-20px-lr">
                            <div class="separator width-50px bg-black md-display-none xs-margin-lr-auto"></div>
                            <h3><a class="text-white font-weight-600 alt-font text-white-hover"
                                    href="single-project-page-05.html">Violator Series</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end slider item -->
            <!-- start slider item -->
            <div class="swiper-slide width-auto xs-height-auto last-paragraph-no-margin">
                <div class="height-100 display-table">
                    <div class="display-table-cell vertical-align-middle">
                        <div class="display-block position-relative">
                            <img src="http://www.themezaa.com/html/pofo/images/homepage-2-slider-img-11.jpg" class="slide-image" alt="" />
                            <p class="bottom-text width-100 text-extra-small text-white text-uppercase text-center">
                                Branding and Identity</p>
                        </div>
                        <div class="hover-title-box padding-55px-lr width-300px sm-width-100 sm-padding-20px-lr">
                            <div class="separator width-50px bg-black md-display-none xs-margin-lr-auto"></div>
                            <h3><a class="text-white font-weight-600 alt-font text-white-hover"
                                    href="single-project-page-01.html">Banana Design</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end slider item -->
            <div class="swiper-slide width-150px xs-width-100 xs-height-auto">
            </div>
        </div>
        <!-- start slider swiper pagination -->
        <div class="swiper-scrollbar xs-display-none"></div>
        <div class="swiper-pagination-vertical position-fixed bullet-deep-pink z-index-5"></div>
        <!-- end slider swiper pagination -->
    </div>
</div>
</div>
