<div class="w3-animate-opacity">
    <% @albums.each do |album| %>
        <div class="col-md-4 col-lg-2 item medium-bottom-interval">
            <%= image_tag(album.image_preview_url, { class: "album-preview-image box selected-album-sidebar-open", onclick: "getAlbum(#{album.id})", "remote": true }) %>
            <div class="album-description">
                <div class="album-description selected-album-sidebar-open" onclick="getAlbum(<%= album.id %>)">
                    <%= "#{album.name} (#{album.performer})" %>
                </div>
                <div class="album-release-date">
                    <%= album.release_date.year if album.release_date %>
                </div>
            </div>
        </div>
    <% end %>
</div>

<br>
