<div class="carousel-1">

    <!-- start slider section -->
   <section class="carousel-section">
    <div class="swiper-bottom-scrollbar-full swiper-container">
        <div class="swiper-wrapper">
            <!-- start slider item -->
            <% most_popular_albums.each do |album| %>
                <div class="swiper-slide">
                    <div class="slide">
                        <div class="inline-block">
                            <%= image_tag album.image_preview_url, class: "slide-image"%>
                            <%= link_to album.name, album, class: "bottom-text" %>
                            <% if rated? album %>
                                <div id="rating">
                                    <div class="lbl-default"><span class="stars-container stars-<%= get_rating(album) %>">★★★★★</span></div>
                                </div>
                            <% end %>
                        </div>
                        <div class="hover-title-box">
                            <h1><%= album.performer %></h1>
                            <div class="separator"></div>
                        </div>
                    </div>
                </div>
            <% end %>
            <!-- end slider item -->
            <div class="swiper-slide width-150px xs-width-100 xs-height-auto">
            </div>
        </div>
        <!-- start slider swiper pagination -->
        <div class="swiper-scrollbar xs-display-none"></div>
        <div class="swiper-pagination-vertical"></div>
        <!-- end slider swiper pagination -->
    </div>
</div>
</div>
