<div class="container-fluid">
    <div class="row">
        <div id="pie-chart-link" class="col-sm-4 first-tab">
            <h5 class="mb-0">01.</h5>
            <h1 class="mb-0 tab-header"><strong>Pie Chart</strong></h1>
        </div>
        <div id="bar-chart-link" class="col-sm-4 second-tab tab-header">
            <h5 class="mb-0">02.</h5>
            <h1 class="mb-0 tab-header"><strong>Bar Chart</strong></h1>
        </div>
        <div id="line-chart-link" class="col-sm-4 third-tab tab-header">
            <h5 class="mb-0">03.</h5>
            <h1 class="mb-0 tab-header"><strong>Line Chart</strong></h1>
        </div>
    </div>
</div>

<div id="pie-chart" class="container-fluid tab-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 left-content">
                aa
            </div>
            <div class="col-sm-6 right-content">
               bb
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 left-content">
            bb
            </div>
            <div class="col-sm-6 right-content">
            cc    
            </div>
        </div>
    </div>
</div>
<div id="bar-chart" class="container-fluid tab-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 left-content">
              dd  
            </div>
            <div class="col-sm-6 right-content">
              ee 
            </div>
        </div>
    </div>
</div>
<div id="line-chart" class="container-fluid tab-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 left-content">
                ff
            </div>
            <div class="col-sm-6 right-content">
             gg
            </div>
        </div>
    </div>
</div>
