<h1 class="medium-bottom-interval">Редактирование профиля пользователя</h1>

<div class="row container">
   <%= render "form", user_profile: @user_profile %>
</div>

<%= link_to "Назад", @user_profile %>
