<%= stylesheet_link_tag "scaffolds" %>
<h1 class="medium-bottom-interval">Editing User Profile</h1>

<div class="row">
   <%= render "form", user_profile: @user_profile %>
</div>

<%= link_to "Back", @user_profile %>
