<div class="w3-sidebar w3-bar-block w3-card w3-animate-right" style="display:none;right:0;" id="selected-album-sidebar">
  <button class="w3-bar-item w3-button w3-large" id="selected-album-sidebar-close-button">&times;</button>
  <div class="container w3-animate-bottom" id = "selected-album">
  </div>
</div>
