<div class="block">
    <% unless @searched_albums.empty? %>
        <hr class="search-results-hr" style="width:99%">
        </div>
        <% @searched_albums.each_with_index do |album, counter| %>
          <% unless album_exist album %>
              <%= render partial: 'api_album_details', locals: { current_album: album } %>
          <% end %>
        <% end %> 
    <% end %>
</div>
