<%= render "album_sidebar" %>

<div class="team-grid container intro text-center">
   <h1 class="header-default">ALBUMS</h1>
</div>
<div id="albums"> 

<%= render "pages/pagy_filter_albums_grid" %>

</div>
