<%= stylesheet_link_tag "application" %>
<%= render "album_sidebar" %>

<div class="team-grid container intro text-center">
   <h1 class="header-default medium-bottom-interval">ALBUMS</h1>
</div>

<%= render "albums_grid" %>

<div class="col-md-4 col-lg-2 item medium-bottom-interval">
   <div class = "add-album-btn-box">
      <%= link_to image_tag("add.png", alt: "Add album.", class: "add-album-btn"), new_album_path %>
   </div>
</div>