<%= render "albums/album_sidebar" %>

<div class="team-grid container intro text-center">
   <h1 class="header-default medium-bottom-interval">МОЙ ПЛЕЙЛИСТ</h1>
</div>

<%= render "pages/albums_grid" %>
