<%= stylesheet_link_tag "application" %>
<%= render "albums/album_sidebar" %>

<div class="team-grid container intro text-center">
   <h1 class="header-default medium-bottom-interval">MY ALBUMS</h1>
</div>

<%= render "layouts/albums_grid" %>
