@import "../config/const_colors";

$label_color: $color-fire-engine-red;
$header_color: $color-denim;

$link_color_default: $color-coal;
$link_color_hover: $color-yellow;
$link_color_visited: $color-denim;

$submit_button_border_color: $color-coal;
$submit_button_text_color: $color-coal;
$default_background_color: $color-white;
$confirm_mark_color: $color-fire-engine-red;

$navigation_bar_text_color_default: $color-white;
$navigation_bar_text_color_hover: $color-gold;
$navigation_bar_default_background_color: $color-dark-green;
$navigation_bar_dropdown_menu_background_color: $color-green;
$navigation_bar_dropdown_menu_border_color: $color-green;;
$navigation_bar_hover_background_color: $color-darker-green;

$footer_text_color: $color-light-green;

$normal_glyphicon_text_color: $color-white;

$album_description_text_color: $color_black;
$album_release_date_text_color: $color_gray;

$not_confirmed_text_color: $color-fire-engine-red;
