@import "../config/const_colors";

$label_color: $color-black;
$header_color: $color-denim;
$secondary_header_color: $color-fire-engine-red;

$link_color_default: $color-coal;
$link_color_hover: $color-magenta;
$link_color_visited: $color-denim;

$submit_button_border_color: $color-black;
$submit_button_text_color: $color-white;
$submit_button_background_color: $color-black;

$default_background_color: $color-white;
$confirm_mark_color: $color-fire-engine-red;

$navigation_bar_text_color_default: $color-white;
$navigation_bar_text_color_hover: $color-gold;
$navigation_bar_default_background_color: $color-dark-green;
$navigation_bar_dropdown_menu_background_color: $color-green;
$navigation_bar_dropdown_menu_border_color: $color-green;;
$navigation_bar_hover_background_color: $color-darker-green;

$footer_text_color: $color-light-green;

$normal_glyphicon_text_color: $color-white;

$album_description_text_color: $color_coal;
$album_release_date_text_color: $color_gray;
$album_duration_text_color: $color_coal;

$comment_text_color: $color-black;
$comment_hr_color: $color-black;

$not_confirmed_text_color: $color-fire-engine-red;

$like-button-default-color: $color-black;
$like-button-hover-color: $color-fire-engine-red;
$liked-button-default-color: $like-button-hover-color;
$liked-button-hover-color: $like-button-default-color;
