@import "../config/*";

$default_font_family: $open_sans_font_family;
$navigation_bar_links_font_family: $open_sans_font_family;
$navigation_bar_brand_font_family: $montserrat_font_family;

$scaffold_label_font_size: $normal_label_font_size;
$scaffold_h1_font_size: $h1_font_size;
$scaffold_h1_text_align: $text_align_center;
$scaffold_link_font_size: $link_font_size;
$scaffold_link_separator_font_size: $link_separator_font_size;

$navigation_bar_links_font_size: $navigation_bar_links_default_font_size;
$navigation_bar_links_letter_spacing: $default_letter_spacing;

$glyphicon_font_size: $normal_glyphicon_size;

$album_description_font_size: $small_label_font_size;
