@import "../config/*";

$font_family: $default_font_family;
$scaffold_label_font_size: $normal_label_font_size;
$scaffold_h1_font_size: $h1_font_size;
$scaffold_h1_text_align: $text_align_center;
$scaffold_link_font_size: $link_font_size;
$scaffold_link_separator_font_size: $link_separator_font_size;
