// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "settings/*";
@import "config/*";
@import "submit";

.album-name {
  font-family: $default_font_family;
  font-size: $album_name_font_size;
  color: $album_name_text_color;
}

.album-performer {
  font-family: $default_font_family;
  font-size: $album_performer_font_size;
  color: $album_performer_text_color;
}

.album-preview-image {
  width: $preview_image_width_size;
  height: $preview_image_height_size;
}

.album-info-preview-image {
  width: $info_preview_image_width_size;
  height: $info_preview_image_height_size;
}

.album-description {
  font-family: $default_font_family;
  font-size: $album_description_font_size;
  color: $album_description_text_color;
}

.album-description-box {
  text-align: justify;
  text-justify: inter-word;
  width: 69%;
}

.album-release-date {
  font-family: $default_font_family;
  color: $album_release_date_text_color;
}

.album-duration {
  font-family: $default_font_family;
  color: $album_duration_text_color;
}

.add-album-btn {
  max-width: $add_button_width_size;
  max-height: $add_button_height_size;
  margin: 0;
}

.add-album-to-collection-button {
  @extend .submit-button;
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-album-btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $preview_image_width_size;
  height: $preview_image_height_size;
}

.sidebar-album-preview-image {
  width: $sidebar_preview_image_width_size;
  height: $sidebar_preview_image_height_size;
  color: album_release_date_text_color;
}

.mail-album-preview-image {
  width: $mail_preview_image_width_size;
  height: $mail_preview_image_height_size;
}

.sidebar-album-preview-image {
  width: $sidebar_preview_image_width_size;
  height: $sidebar_preview_image_height_size;
}

#album_release_date_1i {
  width: $small_size;
}

#album_release_date_2i {
  width: $medium_size;
}

#album_release_date_3i {
  width: $extra_small_size;
}
