// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "settings/*";
@import "config/*";

.album-preview-image {
  width: $preview_image_width_size;
  height: $preview_image_height_size;
}

.album-name {
  a,
  a:hover {
    text-decoration: none;
    color: $color-black;
  }
}

.album-description {
  font-size: $album_description_font_size;
  color: $album_description_text_color;
}

.album-release-date {
  color: $album_release_date_text_color;
}

.add-album-btn {
  max-width: $add_button_width_size;
  max-height: $add_button_height_size;
  margin: 0;
}

.add-album-btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $preview_image_width_size;
  height: $preview_image_height_size;
}

.sidebar-album-preview-image {
  width: $sidebar_preview_image_width_size;
  height: $sidebar_preview_image_height_size;
}

#album_release_date_1i {
  width: $small_size;
}

#album_release_date_2i {
  width: $medium_size;
}

#album_release_date_3i {
  width: $extra_small_size;
}
