// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "settings/*";
@import "config/*";
@import "scaffolds";
@import "submit";

.comment {
  color: $comment_text_color;
  font-size: $comment_font_size;
}

.comment-hr {
    display: block;
    border-style: inset;
    border-width: 2px;
    border-color: $comment_hr_color;
}

.comments-interval {
    margin-top: $medium_interval;
    margin-bottom: $small_interval;
}

.sub-comment-hr {
  @extend .comment-hr;
  border-width: 1px !important;
}

.sub-comment {
  @extend .comment;
  padding-left: 15px;
}

.reply {
  @extend .link-default;
  font-size: 13px !important;
}

.submit-comment-button {
  @extend .submit-button;
  font-size: 13px !important;
}

.comment-form {
  width: $extra_large_size;
}