// Place all the styles related to the dislikes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "scaffolds";
@import "likes";
@import "settings/*";
@import "config/*";

.dislikes-count {
  @extend .likes-count;
}

#dislike {
  @extend #like;
}

#dislike:hover {
  color: $like-button-hover-color;
}

#dislike-loading {
  @extend #like-loading;
}

.dislike-button {
  @extend .like-button;
}

#disliked {
  @extend #dislike;
  color: $liked-button-default-color !important;
}

#disliked:hover {
  color: $like-button-default-color !important;
}
