@import "config/*";
@import "settings/*";

.dropdown-panel {
  position: relative;
  display: inline-block;
}

.dropdown-panel-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 600px;
  max-width: 600px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 20;
  margin-top: 2px;
  left: 2%;
  right: 98%;
  max-height: 600px;
  overflow: auto;
  overflow-x: hidden;
}

.dropdown-panel-preview-image {
  width: $dropdown_panel_preview_image_width_size;
  height: $dropdown_panel_preview_image_height_size;
}

.search-results-hr {
  border-radius: 2px;
  color: $search-hr-color;
  border: 2px solid currentColor;
  width: 38%;
}

.searched-text-message {
  font-size: $small_label_font_size;
  font-style: bold;
}
