@font-face {
    font-family: 'Open-Sans';
    src: url('OpenSans-Semibold.ttf');
    font-style: normal;
    font-stretch: semi-condensed;
    font-variant: normal;
 }

 @font-face {
    font-family: 'Harlow Solid';
    src: url('HARLOWSI.ttf');
    font-weight: normal;
    font-style: normal;
    font-stretch: semi-condensed;
    font-variant: normal;
 }