// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "scaffolds";
@import "settings/*";
@import "config/*";

.likes-count {
  @extend .small-left-interval;
  @extend .small-right-interval;
  margin-top: 25px;
  top: 1px;
  color: $like-button-default-color;
  font-size: 20px;
  font-weight: 200;
}

#like {
  font-size: 50px;
  cursor: pointer;
  border: none;
  background-color: $color_white;
  color: $like-button-default-color;
}

#like:hover {
  color: $like-button-hover-color;
}

#like-loading {
    font-size: 50px;
    border: none;
    background-color: $color_white;
}

.like-button {
  border: none;
  background-color: $color_white;
}

#liked {
    @extend #like;
    color: $liked-button-default-color;
}

#liked:hover {
    color: $like-button-default-color;
}
