@import "settings/*";

.navbar-brand {
  font-family: $navigation_bar_brand_font_family;
  text-transform: uppercase;
}

.navbar .nav {
  font-family: $navigation_bar_links_font_family;
  text-transform: uppercase;
  letter-spacing: $navigation_bar_links_letter_spacing;
  font-size: $navigation_bar_links_font_size;
}

.navbar-inverse {
  background-color:  $navigation_bar_default_background_color;
}

.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
  background-color: $navigation_bar_hover_background_color;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
  background-color: $navigation_bar_default_background_color;
}

.dropdown-menu {
  background-color: $navigation_bar_dropdown_menu_background_color;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  background-color: $navigation_bar_hover_background_color;
}

.navbar-inverse {
  background-image: none;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  background-image: none;
}

.navbar-inverse {
  border-color: $navigation_bar_dropdown_menu_border_color;
}

.navbar-inverse .navbar-brand {
  color: $navigation_bar_text_color_default;
}

.navbar-inverse .navbar-brand:hover {
  color: $navigation_bar_text_color_hover
}

.navbar-inverse .navbar-nav>li>a {
  color: $navigation_bar_text_color_default;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
  color: $navigation_bar_text_color_hover;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
  color: $navigation_bar_text_color_hover;
}

.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
  color: $navigation_bar_text_color_hover;
}

.dropdown-menu>li>a {
  color: $navigation_bar_text_color_default;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  color: $navigation_bar_text_color_hover;
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
  border-top-color: $navigation_bar_text_color_default;
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
  border-top-color: $navigation_bar_text_color_default;
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
  border-bottom-color: $navigation_bar_text_color_default;
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
  border-bottom-color: $navigation_bar_text_color_default;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
