@import "settings/*";
@import "config/*";

body {
  background-color: #fff;
  color: #333;
  margin: 33px;
}

body,
p,
ol,
ul,
td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
}


a:visited {
  color: $link_color_visited;
}

a:hover {
  color: $link_color_hover;
  background-color: $default_background_color;
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div.field,
div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

label {
  display: block;
}

.fields-group {
  display: flex;
  justify-content: space-between;
}

.small-left-interval {
  margin-left: $small_interval;
}

.small-right-interval {
  margin-right: $small_interval;
}

.small-bottom-interval {
  margin-bottom: $small_interval;
}

.small-top-interval {
  margin-top: $small_interval;
}

.medium-left-interval {
  margin-left: $medium_interval;
}

.medium-right-interval {
  margin-right: $medium_interval;
}

.medium-bottom-interval {
  margin-bottom: $medium_interval;
}

.medium-top-interval {
  margin-top: $medium_interval;
}

.lbl-default {
  font-size: $scaffold_label_font_size;
  color: $label_color;
}

.header-default {
  font-size: $scaffold_h1_font_size;
  color: $header_color;
  text-align: $scaffold_h1_text_align;
}

.extra-small-width {
  width: $extra_small_size;
}

.small-width {
  width: $small_size;
}

.medium-width {
  width: $medium_size;
}

.large-width {
  width: $large_size;
}

.display-as-table-cell  {
 vertical-align: top;
}

.no-resizable {
  resize:none;
}

.link-default {
  font-size: $scaffold_link_font_size;
  color: $link_color_default;
  display: inline-block;
  &:hover {
    color: $link_color_hover;
  }
  &:visited {
    color: $link_color_visited;
  }
}

.link-separator-default {
  color: $color-black;
  font-size: $scaffold_link_separator_font_size;
  display: inline-block;
}

.invisible-text {
  text-indent: 100%;
  overflow: hidden;
  display: block;
}

.glyphicon-small {
  width: $small_glyphicon_size;
  height: $small_glyphicon_size;
}

.glyphicon-medium {
  width: $medium_glyphicon_size;
  height: $medium_glyphicon_size;
}

.glyphicon-large {
  width: $large_glyphicon_size;
  height: $large_glyphicon_size;
  font-size: $normal_glyphicon_font_size;
}

.glyphicon-white {
  color: $normal_glyphicon_text_color;
}

.inline-block {
  display: flex;
}
