body {
  background-color: #fff;
  color: #333;
  margin: 33px;
}

body,
p,
ol,
ul,
td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
}

a:visited {
  color: #666;
}

a:hover {
  color: #fff;
  background-color: #000;
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div.field,
div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

label {
  display: block;
}
<<<<<<< Updated upstream
=======

.fields-group {
  display: flex;
  justify-content: space-between;
}

.small-left-interval {
  margin-left: $small_interval;
}

.small-right-interval {
  margin-right: $small_interval;
}

.small-bottom-interval {
  margin-bottom: $small_interval;
}

.small-top-interval {
  margin-top: $small_interval;
}

.lbl-default {
  font-size: $scaffold_label_font_size;
  color: $label_color;
}

.header-default {
  font-size: $scaffold_h1_font_size;
  color: $header_color;
  text-align: $scaffold_h1_text_align;
}

.extra-small-width {
  width: $extra_small_size;
}

.small-width {
  width: $small_size;
}

.medium-width {
  width: $medium_size;
}

.large-width {
  width: $large_size;
}

.display-as-table-cell {
  vertical-align: top;
}

.no-resizable {
  resize: none;
}

.link-default {
  font-size: $scaffold_link_font_size;
}

.links-separator-default {
  font-size: $scaffold_link_font_size;
  color: $color-black;
  display: inline-block;
}
>>>>>>> Stashed changes
