@import "settings/*";
@import "config/*";

.fields-group {
  display: flex;
  justify-content: space-between;
}

.small-left-interval {
  margin-left: $small_interval;
}

.small-right-interval {
  margin-right: $small_interval;
}

.small-bottom-interval {
  margin-bottom: $small_interval;
}

.small-top-interval {
  margin-top: $small_interval;
}

.medium-left-interval {
  margin-left: $medium_interval;
}

.medium-right-interval {
  margin-right: $medium_interval;
}

.medium-bottom-interval {
  margin-bottom: $medium_interval;
}

.medium-top-interval {
  margin-top: $medium_interval;
}

.lbl-default {
  font-size: $scaffold_label_font_size;
  color: $label_color;
}

.header-default {
  font-size: $scaffold_h1_font_size;
  color: $header_color;
  text-align: $scaffold_h1_text_align;
}

.secondary-header-default {
  color: $secondary_header_color;
  text-align: $h2_text_align;
}

.extra-small-width {
  width: $extra_small_size;
}

.small-width {
  width: $small_size;
}

.medium-width {
  width: $medium_size;
}

.large-width {
  width: $large_size;
}

.display-as-table-cell {
  vertical-align: top;
}

.no-resizable {
  resize: none;
}

.link-default {
  font-size: $scaffold_link_font_size;
  color: $link_color_default;
  display: inline-block;
  &:hover {
    color: $link_color_hover;
  }
  &:visited {
    color: $link_color_visited;
  }
}

.link-separator-default {
  color: $color-black;
  font-size: $scaffold_link_separator_font_size;
  display: inline-block;
}

.invisible-text {
  text-indent: 100%;
  overflow: hidden;
  display: block;
}

.glyphicon-large {
  font-size: $glyphicon_font_size;
}

.glyphicon-white {
  color: $normal_glyphicon_text_color;
}

.not-visible {
  display: none !important;
}

.full-screen {
  width: $screen_width_size;
}

.half-screen {
  width: $half_screen_width_size;
}

.inline {
  width: 100%;
  height: auto;
  display: flex;
  .first-element,
  .second-element {
    width: 50%;
    height: 100px;
    margin: 10px;
  }
}

div.box-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.block {
  display: block;
}

div.change-image {
  position: relative;
  width: 400px;
}

div.change-image img {
  -webkit-filter: brightness(100%);
  -moz-filter: brightness(100%);
  -o-filter: brightness(100%);
  -ms-filter: brightness(100%);
  filter: brightness(100%);
}

div.change-image img:hover {
  -webkit-filter: brightness(40%);
  -moz-filter: brightness(40%);
  -o-filter: brightness(40%);
  -ms-filter: brightness(40%);
  filter: brightness(40%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.inline-block {
  display: flex;
}

.on-right {
  margin-left: auto; 
  margin-right: 0;
}
