.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

input[type=submit] {
  font-family: "Open-Sans", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 170px;
  height: 40px;
  line-height: 1;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  border: 3px solid #8c82fc;
  background: #fff;
  color: #8c82fc;
  border-radius: 40px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.35s;
}

input[type=submit]:hover {
  background: #8c82fc;
  color: #fff;
}

input[type=submit] span {
  opacity: 1;
  visibility: visible;
  transition: all 0.35s;
}

.success {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.35s;
}

.success svg {
  width: 20px;
  height: 20px;
  fill: yellowgreen;
  transform-origin: 50% 50%;
  transform: translateY(-50%) rotate(0deg) scale(0);
  transition: all 0.35s;
}

input[type=submit].is_active {
  width: 40px;
  height: 40px;
}

input[type=submit].is_active .success {
  opacity: 1;
  visibility: visible;
}

input[type=submit].is_active .success svg {
  margin-top: 50%;
  transform: translateY(-50%) rotate(720deg) scale(1);
}

input[type=submit].is_active span {
  opacity: 0;
  visibility: hidden;
}
