// Place all the styles related to the Tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "config/*";

#track_release_date_1i {
  width: $small_size;
}

#track_release_date_2i {
  width: $medium_size;
}

#track_release_date_3i {
  width: $extra_small_size;
}

.preview-image {
  width: 100px;
  height: 100px;
}
