<div class="w3-sidebar w3-bar-block w3-card w3-animate-top" style="display:none;top:0;" id="searched-results-sidebar">
    <button class="w3-bar-item w3-button w3-large" id="searched-albums-sidebar-close-button">&times;</button>
    <div class="container" id="searched_albums">
    </div>
</div>
